* {
    font-family: 'Roboto', sans-serif;
}

.animate__fadeInLeft {
    display: inline-block;
    margin: 0 0.5rem;

    animation: fadeInLeft;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: .2s;
    /* don't forget to set a duration! */
}

.animate__fadeInRight {
    display: inline-block;
    margin: 0 0.5rem;

    animation: fadeInRight;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: .2s;
    /* don't forget to set a duration! */
}